
.contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-height: calc(100vh - 74px);
    scroll-margin-top: 74px;
    background: var(--color-neutral-2);
    color: var(--color-primary-1);
    padding: 25px;
    gap: 50px;

    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 100%;

        .contact-svg{
            display: none;
            height: 100%;
            width:40%;
        }

        .contact-form{
            display: flex;
            flex-direction: column;
            width: 80%;
            background-color: var(--color-primary-3);
            overflow: hidden;
            padding: 30px;
            border-radius: 10px;
            border: 2px solid var(--color-primary-1);
            box-shadow: 1px 1px 10px var(--color-primary-1) ;
                       

            .form-item{
                display: flex;
                flex-direction: column;
                gap: 6px;
                margin-bottom: 10px;

                label{
                    color: var(--color-neutral-0);
                }

                input, textarea{
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 8px;
                    padding: 8px;

                    &.erro{
                        border: 3px solid red;
                    }
                }
            }

            #button_submit{
                width: 100%;
                background: var(--color-primary-1);
                color: var(--color-neutral-0);
                outline: none;
                border: none;
                border-radius: 8px;
                padding: 8px;
                cursor: pointer;
                margin-top: 10px;
            }
        }
    }
}

@media(min-width: 1200px){
    .contact{
        .contact-container{
            justify-content: space-around;
            flex-direction: row;
            width: 100%;

            .contact-svg{
                display: block;
            }

            .contact-form{
                width: 30%;
            }
        }
    }
}
