#container{
    margin: 0 10px;

    .home{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        justify-content: center;
        scroll-margin-top: 74px;
        min-height: calc(100vh - 74px);
        padding-top: clamp(0px, 5vw, 32px);

        .home-title{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 10px;


            h1{
                font-size: clamp(2rem, 8vw, 5rem);
                text-align: center;
                color: var(--color-primary-1);
                text-transform: uppercase;
            }

            p{
                font-size: clamp(0.9rem, 5vw, 1.2rem);
                text-align: center;
            }

            .social-links a{
                font-size: 2rem;
                color: var(--color-primary-1);
            }

            .home-actions{
                display: flex;
                margin: 10px 0;
            }
        }

        .home-img{
            img{
                width: clamp(250px, 40vw, 750px);
                height: clamp(250px, 40vw, 750px);
            }
        }
    }

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        scroll-margin-top: 74px;
        min-height: calc(100vh - 74px);

        .about-img img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 5px solid var(--color-primary-1);
            object-fit: cover;
        }

        .about-title h1{
            color: var(--color-primary-1);
            font-size: clamp(1rem, 8vw, 3rem);
            text-align: center;
        }

        .about-info {
            padding: 10px;

            p {
                font-size: clamp(0.9rem, 5vw, 1.2rem);
                text-align: center;
            }
        }

        .skills-title {
            font-size: clamp(1rem, 8vw, 2rem);
            color: var(--color-primary-1);
            margin: 10px 0;
        }

        .skills-container {
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            .skills-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 350px;
                color: var(--color-primary-1);

                .skills-progress {
                    flex-wrap: nowrap;

                    i{
                        font-size: clamp(0.8rem, 6vw, 3rem);
                        color: var(--color-primary-1);
                    }
                }


            }
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        scroll-margin-top: 74px;
        gap: 20px;
        min-height: calc(100vh - 74px);

        .projects-title{
            width: 100%;

            h1 {
                font-size: clamp(0.8rem, 8vw, 2rem);
            }
        }

        .projects-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .projects-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 15px;
                width: 350px;
                height: 480px;
                gap: 10px;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid var(--color-primary-1);
                background-color: var(--color-neutral-0);
                box-shadow: 1px 1px 10px var(--color-primary-1) ;
                transition: all 0.3s ease;

                &:hover{
                    transform: scale(1.03);
                    box-shadow: 2px 2px 15px var(--color-primary-1) ;
                }

                h1{
                    text-align: start;
                }

                p{
                    text-align: center;
                }

                a {
                    width: 100%;
                    text-align: center;
                }

                img{
                    height: 300px;
                    width: 280px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }

    .techs{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: calc(100vh - 74px);
        scroll-margin-top: 74px;
        padding: 50px 0;
        gap: 100px;
        color: var(--color-primary-1);

        .tech{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            h1{
                font-size: clamp(0.8rem, 8vw, 1.8rem);
            }

            .tech-itens{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;

                i{
                    font-size: clamp(5rem, 6vw, 10rem);
                }
            }
        }

    }
}


@media(min-width: 1200px){
    #container{
        margin: 0 5%;

        .home{
            flex-direction: row;
            justify-content: space-between;

            .home-title{
                align-items: start;
                gap: 5px;

                h1{
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    line-height: 1.1;
                }

                p{
                    text-align: start;
                }
            }
        }

        .about{
            .about-img img {
                width: 200px;
                height: 200px;
            }

            .about-info{
                width: 80%;
            }

        }

        .techs{
            .tech{
                .tech-itens{
                    flex-direction: row;
                }
            }
        }
    }
}