@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);
@import url(header.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600;
    background-color: transparent;
}

body{
    background-color: var(--color-neutral-2);
}

.btn-mobile{
    font-size: 1.5rem;
    color: var(--color-neutral-0);
}

.btn-default{
    background-color: var(--color-neutral-1);
    color: var(--color-neutral-8);

    &:hover{
        background-color: var(--color-neutral-2);
        transition: backgroun-color .3s ease;
    }
}

a.btn{
    text-decoration: none;
}

#container{

    #home{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 50px);

        h1{
            font-size: 3rem;
            text-align: center;

            span{
                color: var(--color-text-highlight);
            }
        }
    }
}
