@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);
@import url(header.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600;
    background-color: transparent;
}

body{
    background-color: var(--color-neutral-2);
}

.btn-mobile{
    font-size: 1.5rem;
    color: var(--color-neutral-0);
}

.btn-default{
    background-color: var(--color-neutral-8);
    color: var(--color-neutral-1);

    &:hover{
        background-color: var(--color-neutral-7);
        transition: backgroun-color .3s ease;
    }
}

a.btn{
    text-decoration: none;
}

#container{
    margin: 0 10px;

    .home{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        justify-content: center;
        scroll-margin-top: 74px;
        min-height: calc(100vh - 74px);
        padding-top: clamp(0px, 5vw, 32px);

        .home-title{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 10px;


            h1{
                font-size: clamp(2rem, 8vw, 5rem);
                text-align: center;
                color: var(--color-primary-1);
                text-transform: uppercase;
            }

            p{
                font-size: clamp(0.9rem, 5vw, 1.2rem);
                text-align: center;
            }

            .social-links a{
                font-size: 2rem;
                color: var(--color-primary-1);
            }

            .home-actions{
                display: flex;
                margin: 10px 0;
            }
        }

        .home-img{
            img{
                width: clamp(250px, 40vw, 750px);
                height: clamp(250px, 40vw, 750px);
            }
        }
    }

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        scroll-margin-top: 74px;
        padding-top: clamp(0px, 5vw, 32px);
        min-height: calc(100vh - 74px);

        .about-img img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid var(--color-primary-1);
            object-fit: cover;
        }

        .about-title h1{
            color: var(--color-primary-1);
            font-size: clamp(1rem, 8vw, 3rem);
            text-align: center;
        }

        .about-info {
            padding: 10px;

            p {
                font-size: clamp(0.9rem, 5vw, 1.2rem);
                text-align: center;
            }
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        scroll-margin-top: 74px;
        padding-top: clamp(0px, 5vw, 32px);
        min-height: calc(100vh - 74px);

        .projects-title{
            font-size: clamp(1rem, 8vw, 2rem);
        }
    }
}

@media(min-width: 1200px){
    #container{
        margin: 0 5%;

        .home{
            flex-direction: row;
            justify-content: space-between;

            .home-title{
                align-items: start;
                gap: 5px;

                h1{
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    line-height: 1.1;
                }

                p{
                    text-align: start;
                }
            }
        }

        .about{
            .about-img img {
                width: 200px;
                height: 200px;
            }

            .about-info{
                width: 80%;
            }
        }
    }
}
